@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

body {
    margin: 0;
    padding: 0;
    max-width: 1440px;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6,p {
    margin-block-end: 0em;
    margin-block-start: 0em;
}

header {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-top: 80px;
    margin-left: 80px;
}

.button {
    height: 40px;
    width: 136px;
    border-radius: 20px;
    background: #FFFFFF;
    border: 1px solid #FF52C1;
    box-shadow: 0px 0px 9px rgba(255, 82, 193, 0.218778);
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FF52C1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1.1s;
    margin-top: 78px;
    margin-right: 63px;
}

.button:hover {
    height: 40px;
    width: 136px;
    border-radius: 20px;
    border: 1px solid #FF8ED7;
    box-shadow: 0px 0px 9px rgba(255, 82, 193, 0.218778);
    color: #FF8ED7;
    cursor: pointer;
    transform: scale(1.2);
}

.main {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 226px;
}

.title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: #00252E;
}

.entry {
    width: 600px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #00252E;
    margin-top: 26px;
}

.pink {
    margin-top: 49px;
    height: 80px;
    width: 400px;
    border-radius: 40px;
    background: #FF52C1;
    box-shadow: 0px 6px 13px rgba(0, 37, 46, 0.223053);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    cursor: pointer;
    transition: 1.1s;
}

.pink:hover {
    background: #FF8ED7;
    box-shadow: 0px 6px 13px rgba(0, 37, 46, 0.223053);
    transform: scale(1.2);
}

.screen {
    margin-top: 120px;
}

.between {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}

.first-svg {
    display: flex;
    flex-direction: column;
    margin-left: 280px;
}

.svg {
    width: 60px;
    height: 56px;
    max-width: 100%;
}

.h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 144px;
    color: #00252E;
}

.formed {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #808E9A;
    margin-top: 2px;
}

.second-svg {
    display: flex;
    flex-direction: column;
    margin-right: 280px;
}

.first-bg {
    width: 100%;
    margin-top: 129px;

}

.dek-one {
    position: relative;
    top: 4px;
    min-width: 1440px;
}

.inside {
    width: 100%;
    height: fit-content;
    background: #F6FBFF;
    display: flex;
    padding-left: 130px;
    max-width: 1310px;
}

.together {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #00252E;
    margin-top: 150px;
}

.grow-together {
    width: 517px;
    margin-left: 122px;
}

.mean {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #00252E;
    width: 520px;
    margin-top: 26px;
}

.flowing {
    width: 531px;
    margin-top: 195px;
    margin-left: 135px;
    margin-bottom: 111px;
}

.second-bg {
    display: flex;
}

#conve {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #00252E;
}

.ider {
    display: flex;
    flex-direction: column;
    margin-top: 315px;
    margin-left: 135px;
}

.third-bg {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #F6FBFF;
    margin-top: 0px;
    padding: 0px;
}

.text {
    margin-left: 130px;
}

.users {
    width: 534px;
    margin-left: 135px;
}

.top-one {
    position: relative;
    top: 4px;
}

.last {
    margin-top: 135px;
    margin-bottom: 178px;
}

footer {
    background-color: #00252E;
    display: flex;
}

.footer {
    position: relative;
    top: 4px;
}

.footer-logo {
    margin-top: 120px;
    margin-left: 120px;
}

.footer-entry {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    width: 340px;
    margin-top: 28px;
    margin-left: 120px;
}

.contact {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    margin-top: 24px;
    margin-bottom: 127px;
}

.phone {
    width: 24px;
}

.number {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-left: 18px;
}

.call {
    display: flex;
    margin-bottom: 22px;
}

.icon {
    width: fit-content;
    height: fit-content;
    display: flex;
}

.align-two {
    margin-left: 340px;
}

.h5-new {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    margin-top: 120px;
}

.three-four {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 16px;
    width: 344px;
}

.submit {
    margin-top: 40px;
    display: flex ;
}

.input {
    height: 48px;
    width: 304px;
    padding-left: 16px;
    border-radius: 6px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #00252E;
}

.enter {
    height: 52px;
    width: 160px;
    border-radius: 5px;
    background: #FF52C1;
    position: relative;
    top: 1px;
    left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
    transition: 1.2s;
}

.enter:hover {
    transform: scale(1.2);
    background: #FF8ED7;
}

@media screen and (max-width: 375px) {

    .logo {
        width: 96px;
        height: 16px;
        margin-top: 28px;
        margin-left: 24px;
    }

    .button {
        max-height: 24px;
        max-width: 80px;
        border-radius: 12px;
        font-size: 9.41177px;
        line-height: 13px;
        margin-top: 24px;
        margin-right: 24px;
    }

    .main {
        margin-top: 116px;
    }

    .title {
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        width: 280px;
    }

    .entry {
        margin-top: 24px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #00252E;
        width: 296px;
    }

    .pink {
        height: 40px;
        width: 200px;
        border-radius: 20px;
        font-size: 12px;
        line-height: 18px;
    }

    .screen {
        height: 209px;
        width: 296px;
        margin-top: 104px;
    }

    .between {
        flex-direction: column;
        justify-content: none;
        align-items: center;
    }

    .first-svg {
        margin: 0;
    }

    .second-svg {
        margin: 0;
        margin-top: 90px;
    }

    .svg {
        height: 36px;
        width: 36px;
    }

    .h2 {
        font-size: 60.9524px;
        line-height: 91px;
    }

    .formed {
        font-size: 15.2381px;
        line-height: 23px;
    }

    .first-bg {
        margin-top: 1px;
        width: 375px;
    }
    
    .dek-one {
        min-width: 375px;
        width: 375px;
        content: url(./huddle-landing-page-with-curved-sections-master/images/bg-section-top-mobile-1.svg);
    }

    .inside {
        flex-direction: column-reverse;
        align-items: center;
        padding: 0;
    }

    .grow-together {
        width: 259px;
        margin: 0;
        margin-top: 112px;
    }

    .together {
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        margin-top: 75px;
    }

    .mean {
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        width: 320px;
        margin-top: 16px;
        margin-bottom: 112px;
    }
    
    .dek-two {
        min-width: 375px;
        width: 375px;
        content: url(./huddle-landing-page-with-curved-sections-master/images/bg-section-bottom-mobile-1.svg);
    }

    .second-bg {
        flex-direction: column;
        align-items: center;
    }

    .flowing {
        margin: 0px;
        margin-top: 111px;
        width: 265px;
    }

    .ider {
        margin: 0;
        margin-top: 85px;
    }

    #conve {
        font-size: 20px;
        line-height: 30px;
        text-align: center;
    }

    .samas-oci  {
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        width: 320px;
    }

    .third-bg {
        flex-direction: column-reverse;
        align-items: center;
    }

    .top-one {
        content: url(./huddle-landing-page-with-curved-sections-master/images/bg-section-top-desktop-2.svg);
        min-width: 375px;
        width: 375px;
    }

    .users {
        width: 267px;
        margin: 0;
        margin-top: 50px;
    }

    .text {
        margin: 0;
    }

    .bottom-two {
        content: url(./huddle-landing-page-with-curved-sections-master/images/bg-section-bottom-mobile-2.svg);
        min-width: 375px;
        width: 375px;
    }

    .last {
        margin-top: 0px;
        margin-bottom: 250px;
    }

    .toper {
        margin-top: 50px;
    }

    .pink {
        margin-top: 40px;
    }

    footer {
        flex-direction: column-reverse;
    }

    .footer {
        content: url(./huddle-landing-page-with-curved-sections-master/images/bg-footer-top-mobile.svg);
        min-width: 375px;
        width: 375px;
    }

    .align-two {
        margin: 0;
        margin-left: 28px;
    }

    .h5-new {
        font-size: 20px;
        line-height: 30px;
        margin-top: 70px;
    }

    .three-four {
        font-size: 14px;
        line-height: 24px;
        width: 320px;
    }

    .submit {
        margin-top: 32px;
        flex-direction: column;
        align-items: end;
        max-width: 320px;
    }

    .enter {
        left: 0px;
        top: 20px;
    }

    .footer-logo {
        margin-left: 28px;
    }

    .footer-entry {
        margin-left: 28px;
    }

    .contact {
        margin-left: 28px;
    }
}